* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;   
}

main {
    background-color: darkslategrey;
    height: 100svh;
}

#parallax-container {
    position: relative;
    background-color: black;
    height: 100svh;
    overflow: hidden;
}

#parallax-container img {
    position: absolute;
}

.gojo-picture {
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
}

.orb-picture {
    left: calc(50% - 93px);
    bottom: 450px;
    transform-origin: bottom;
}