* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;   
}

header {
    background-color: rgb(29, 29, 29);
}

main {
    background-color: rgb(13, 14, 14);
    height: 100svh;
}

#parallax-container {
    position: relative;
    height: 100svh;
    overflow: hidden;
}

#parallax-container img {
    position: absolute;
}

.domain-picture {
    transform: scale(0);
    border-radius: 100%;
}

.gojo-picture {
    bottom: -100px;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
}

.orb-picture {
    left: calc(50% - 93px);
    bottom: 450px;
    z-index: 20;
    transform-origin: bottom;
    filter: drop-shadow(0px 0px 30px rgb(213, 38, 181));
}

.rocks-one-picture {
    bottom: -100px;
    left: 50px;
}

.rocks-two-picture {
    bottom: -60px;
    left: 290px;
}

.rocks-three-picture {
    bottom: -100px;
    left: 520px;
    z-index: 30;
}

.rocks-four-picture {
    bottom: -60px;
    left: 780px;
}

.rocks-five-picture {
    bottom: -60px;
    left: 950px;
}

.rocks-six-picture {
    bottom: -100px;
    left: 1150px;
}

.rocks-seven-picture {
    bottom: -100px;
    left: 1300px;
}
